body {
    font-family: Lato, Helvetica, sans-serif;
    margin: 0;
}
header {
    position: fixed;
    top: 0;
    right: 5%;
    z-index: 9999;
    height: 10rem;
}
header ul {
    list-style: none;
}
footer p {
    font-family: Lato, Helvetica, sans-serif;
    font-size: .8rem;
    text-align: center;
    background-color: #FFF0F0;
    padding: 1rem;
}
h1 {
    font-family: 'Lustria', serif;
    color: #FC6D5C;
    line-height: normal;
}
h2 {
    font-family: 'Lustria', serif;
    color: #142146;
    line-height: auto;
}
h3 {
    font-family: Lato, Helvetica, sans-serif;
    color: #FC6D5C;
    line-height: normal;
}
* {
    font-family: Lato, Helvetica, sans-serif;
    color: #333447;
    line-height: 1.5;
}
p {
    line-height: 1.5rem;
    font-size: 1.125rem;
    font-weight: 200;
}
.font-light {
    font-weight: 300
}
.font-regular {
    font-weight: 400
}
.font-heavy {
    font-weight: 700
}
a:link {
    transition: all 0.3s ease 0s;
}
a:hover,
a:focus {
    color: #FC6D5C;
}
h2 a {
    font-family: 'Lustria', serif;
    color: #142146;
    line-height: auto;
    text-decoration: none;
}
nav {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 0.15em dotted #ddd;
}
nav a:hover,
nav a:focus {
    text-decoration: none;
}
section code {
    background-color: #EEE;
    padding: 0.5em 0.75em;
    display: block;
}
section {
    padding: 2.5rem 0rem 3rem 0rem;
}
hr {
    border-top: 0.15em dotted #ddd;
}
input[type=submit] {
    font-family: 'Nanum Gothic 400', sans-serif;
    color: #FC6D5C;
    padding: 10px 16px 10px 16px;
    background: #fff;
    border: 2px solid;
    border-color: #FC6D5C;
    outline: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    transition: all 0.3s ease 0s;
}
input[type=submit]:hover,
input[type=submit]:focus {
    font-family: 'Nanum Gothic 400', sans-serif;
    color: #fff;
    padding: 10px 16px 10px 16px;
    background: #FC6D5C;
    border: 2px solid;
    border-color: #FC6D5C;
    outline: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
input[type=text] {
    font-family: 'Nanum Gothic 400', sans-serif;
    padding: 5px 15px;
    border: none;
    background-color: #eee;
    outline: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    transition: all 0.3s ease 0s;
}
input[type=text]:active,
input[type=text]:focus {
    outline: 2px solid;
    outline-color: #142146;
    background-color: none;
}
img {
    width: 100%;
}

/*--------------------------------Navigation----------------------------------*/

.nav-link {
    display: inline-block;
    padding: 0.5em 0.75em;
    font-family: 'Lustria', serif;
    font-size: 1.25rem;
    color: #FC6D5C;
    border-radius: 0.25em;
    text-decoration: none;
    opacity: 1;
    transition: all 0.3s ease 0s;
}
.nav-link:hover,
.nav-link:focus,
.current-nav-link {
    opacity: .65;
}
.custom-counter {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.custom-counter li {
    counter-increment: step-counter;
    margin-bottom: 2rem;
}
.custom-counter li::before {
    content: counter(step-counter, decimal-leading-zero);
    font-size: 1rem;
    color: #FC6D5C;
    font-weight: bold;
}
.custom-counter p {
    display: inline;
}
ul {
    list-style-type: circle;
}
.indent {
    padding-left: 2rem;
}
.blur-filter {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

/*--------------------------------Section Spacing----------------------------------*/
.section{
    margin-bottom: 4rem;
}

/*--------------------------------Media Queries----------------------------------*/


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.15rem;
    }
    p {
        font-size: 1rem;
    }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 1.9rem;
    }
    h3 {
        font-size: 1.15rem;
    }
    p {
        font-size: 1rem;
    }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1rem;
    }
    p {
        font-size: .9rem;
    }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1rem;
    }
    p {
        font-size: .9rem;
    }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    h1 {
        font-size: 2.75rem;
    }
    h2 {
        font-size: 1.45rem;
    }
    h3 {
        font-size: 1rem;
    }
    p {
        font-size: .9rem;
    }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.25rem;
    }
    h3 {
        font-size: 1rem;
    }
    p {
        font-size: .9rem;
    }
}