body {
    font-family: 'Nanum Gothic 400', sans-serif;
    padding: 2rem;
}
h1 {
    font-family: 'Lustria', serif;
    font-size: 3rem;
}
h2 {
    font-family: 'Lustria', serif;
    font-size: 2rem;
}
h3 {
    font-family: 'Nanum Gothic 800', sans-serif;
    font-size: 1rem;
}
nav {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 0.15em solid #333;
}
nav a:hover,
nav a:focus {
    text-decoration: none;
}
section code {
    background-color: #EEE;
    padding: 0.5em 0.75em;
    display: block;
}
input[type=submit] {
    font-family: 'Nanum Gothic 400', sans-serif;
    padding: 5px 15px;
    background: #ccc;
    border: 0 none;
    outline: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
input[type=submit]:hover,
input[type=submit]:focus {
    font-family: 'Nanum Gothic 400', sans-serif;
    color: #fff;
    padding: 5px 15px;
    background: #000;
    border: 0 none;
    outline: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
input[type=text] {
    font-family: 'Nanum Gothic 400', sans-serif;
    padding: 5px 15px;
    border: none;
    background-color: #eee;
    outline: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
input[type=text]:hover,
input[type=text]:focus {
        outline: 1px solid;
      background-color: none;

}
/* 
  INTERACTIVE ELEMENTS -------------------
*/


/* Styling for the navigation button */

.button-nav {
    display: inline-block;
    padding: 0.5em 0.75em;
    color: #FFF;
    background-color: #333;
    border-radius: 0.25em;
    text-decoration: none;
    -webkit-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}
.button-nav:hover,
.button-nav:focus {
    background-color: #999;
}

/* 
  TEXT ELEMENTS -------------------
*/


/* 
  COMBINED ELEMENTS -------------------
*/